.listaDeTarefas h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.listaDeTarefas input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.listaDeTarefas button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listaDeTarefas button:hover {
  background-color: #0056b3;
}

.listaDeTarefas ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.listaDeTarefas li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
}
