#switch {
  position: relative;
  width: 64px;
  margin: 20px auto;
  cursor: pointer;
}

#switch button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  transition: left 0.3s ease;
}

body.light #switch button {
  left: 50%;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
